.search-form {
  form > div,
  form > span,
  .wide-md:not(.no-wide) {
    @extend .col-12, .col-sm-6, .col-lg-4, .col-xl-3;
    margin: 0.25rem 0 !important;
  }

  .wide-lg:not(.no-wide) {
    @extend .col-12, .col-sm-6;
    margin: 0.25rem 0 !important;
  }

  .wide-xl:not(.no-wide) {
    @extend .col-12;
    margin: 0.25rem 0 !important;
  }
}
